#login{
    font-family:sans-serif;
    padding:50px;
    text-align:center;
}
#login input,#login button{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
}
#login input{
    border-radius:30px;
    border:1px solid grey;
    padding-left:20px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1) inset;
}
#login button{
    margin:auto;
    width:108%;
    border-radius:30px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1);
    border:1px solid grey;
    background:rgb(200,255,200);
}
#login p{
    padding-top:10px;
    padding-bottom:10px;
}
.rojo{
    font-weight:bold;
    color:red;
}
canvas{
    width:50%;
}
#login{
    animation:aparece 1s;
}
@keyframes aparece{
    0%{opacity:0;}
    100%{opacity:1;}
}
#login input{
    outline:none;
    border:3px solid grey;
    transition:all 1s;
}
#login input:hover{
    border:3px solid yellow;
}
#login input:focus{
    border:3px solid green;
}