#misdatos{
    font-family: sans-serif;
}
#misdatos h2,#misdatos h2, #misdatos p{
    padding-top:10px;
    padding-bottom:10px;
}
#misdatos table{
    width:100%;
}
#misdatos table img{
    width:20px;
    float:right;
}
#misdatos input,#misdatos button{
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
}
#misdatos button{
    margin-top:20px;
}
#misdatos #cerrarsesion{
    color:red;
}
#misdatos select{
    width:90%;
    padding-top:5px;
    padding-bottom:5px;
}
#targetusuario{
    width:50% !important;
    float:none !important;
}